<html>
    <head>
        <title>表格</title>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!-- import stylesheet -->
        <link rel="stylesheet" href="https://unpkg.com/view-design@4.5.0/dist/styles/iview.css">
        <!-- import iView -->
        <script src="https://unpkg.com/view-design@4.5.0/dist/iview.min.js"></script>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <i-form :model="formItem" :label-width="80" style="width: 500px;margin:auto;margin-top: 100px;">
                <form-item label="姓名">
                    <i-input v-model="formItem.name" placeholder="请输入您的姓名"></Input>
                </form-item>
                <form-item label="学号">
                    <i-input v-model="formItem.id" placeholder="请输入您的学号"></Input>
                </form-item>
                <form-item>
                    <i-button type="success" long @click="success('success')">提交</i-button>
                </form-item>

            </i-form>
        </div>
        
        <script>
            let vm = new Vue({
                el: "#app",
                data: {
                    formItem: {
                        name: '',
                        id: '',
                    },
                },
                methods: {
                    success(type) {
                        this.$Message[type]({
                            background: true,
                            content: '刘亚男不太行',
                        })
                    },
                },
            })
        </script>

        
    </body>
</html>
